name: Daily GTFS Loader

on:
  schedule:
    - cron: "0 17 * * *"   # 3am UTC+10
  workflow_dispatch:

jobs:
  run-loader:
    runs-on: ubuntu-latest

    concurrency:
      group: gtfs-loader
      cancel-in-progress: false

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: gradle

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build project
        run: ./gradlew build -x test

      - name: Run loader
        run: ./gradlew runLoader --stacktrace
        env:
          SPRING_DATASOURCE_URL: ${{ secrets.SPRING_DATASOURCE_URL }}
          SPRING_DATASOURCE_USERNAME: ${{ secrets.SPRING_DATASOURCE_USERNAME }}
          SPRING_DATASOURCE_PASSWORD: ${{ secrets.SPRING_DATASOURCE_PASSWORD }}
